<p-toast position="top-center" [life]="2000"></p-toast>
Product list
<p-table id="productTable" #productTable
[value]="products"
[paginator]="true"
[alwaysShowPaginator]="true"
[totalRecords]="totalItems"
[autoLayout]="true"
[lazy]="true"
(onLazyLoad)="loadProductsLazy($event)"
(onPage)="pageChange($event)"
[rowsPerPageOptions]="[10, 25, 50]"
[rows]="pageSize"
[showCurrentPageReport]="true"
currentPageReportTemplate="{first}-{last} of {totalRecords}"
>
  <ng-template pTemplate="header">
    <tr>
      <th colspan="2" style="text-align: center;">Products</th>
    </tr>
    <tr>
      <th>Id</th>
      <th>Name
        <p-columnFilter type="text" field="name" display="menu" />
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
    </tr>
  </ng-template>
</p-table>
