
_ReSharper.Caches/

.vs/

ProductManager.Service/bin/

ProductManager.Service/obj/

ProductManager.Tests/bin/

ProductManager.Tests/obj/

ProductManager.Data.EF/bin/

ProductManager.Data.EF/obj/

ProductManager.Glue/obj/

ProductManager.Glue/bin/

ProductManager.Business/bin/

ProductManager.Business/obj/

ProductManager.Business.Tests/bin/

ProductManager.Business.Tests/obj/

ProductManager.Data.EF.Tests/bin/

ProductManager.Data.EF.Tests/obj/

ProductManager.Tool.EF/bin/

ProductManager.Tool.EF/obj/
