
_ReSharper.Caches/

.vs/

ProductManager.Service/bin/

ProductManager.Service/obj/

ProductManager.Tests/bin/

ProductManager.Tests/obj/

ProductManager.Data.EF/bin/

ProductManager.Data.EF/obj/

ProductManager.Glue/obj/

ProductManager.Glue/bin/
